<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加成员页面</title>
</head>
<body>
<!-- 添加员工信息模块 -->
<center><div >
    <h3>添加员工信息</h3>
    <p><b>姓名：</b> <input name="Username"><br/></p>
    <p><b>电话：</b> <input name="Phone"><br/></p>
    <p><b>邮箱：</b> <input name="mail"><br/></p>
    <p><b>密码：</b> <input name="password"><br/></p>
    <p><b>部门：</b> <input name="department"><br/></p>
    <button name="submit" >提交</button>
    </form>
</div></center>
<script src="../jquery/jquery.min.js"></script>
<script type="text/javascript" src="../js/addPersonnel.js"></script>
</body>
</html>