<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta content="webkit" name="renderer" />
    <!-- 360开启极速模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- ie渲染模式 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link href="../css/detailedInformation.css" rel="stylesheet">
</head>

<body>
<div id = "informationTable">
    <div id="tableTopBar">
        <div class="bar_searchBar">
            <div class="name">
                <label for="">姓名/工号：</label>
                <input name="name" id="name" type="text" />
                </select>
            </div>
            <div class="inTime">
                <label for="">开始时间：</label>
                <input name="inTime" id="inTime" type="text" />
            </div>
            <div class="outTime">
                <label for="">结束时间：</label>
                <input name="outTime" id="outTime" type="text" />
            </div>
            <button id="search">查询</button>
        </div>
    </div>
</div>
    <!-- 可能需要写入按钮 -->

</body>

</html>