<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>用户使用界面</title>
    <!-- Bootstrap core CSS -->
    <link href="../bootstrap-4.1.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../css/index.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/iframesub.css" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#">人脸识别考勤系统</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav mr-auto">
                <!--<li class="nav-item active">-->
                    <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#">Link</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link disabled" href="#">Disabled</a>-->
                <!--</li>-->
                <!--<li class="nav-item dropdown">-->
                    <!--<a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
                    <!--<div class="dropdown-menu" aria-labelledby="dropdown03">-->
                        <!--<a class="dropdown-item" href="#">Action</a>-->
                        <!--<a class="dropdown-item" href="#">Another action</a>-->
                        <!--<a class="dropdown-item" href="#">Something else here</a>-->
                    <!--</div>-->
                <!--</li>-->
            </ul>
            <form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" placeholder="Search">
            </form>
        </div>
    </nav>


    <div id="sidebar">
        <div class="sidebar-menu nav-collapse">
            <div id="sidebar_loading">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
            <ul id="init_side_bar">
                <li class="has-sub superunplay open" value="01000">
                    <a href="javascript:;">
                        <i class="fa fa-bar-chart-o" aria-hidden="true"></i>
                        <span class="menu-text">部门考勤</span>
                    </a>
                    <ul class="sub" style="display: block;">
                        <li class="superunplay" value="01001">
                            <a id = "attendanceSummary" onclick="toIndex('/toAttendanceSummary')">
                                <span class="sub-menu-text">考勤汇总</span>
                            </a>
                        </li>
                        <li class="superunplay" value="01002">
                            <a id = "toDetailedInformation" onclick="toIndex('/toDetailedInformation')">
                                <span class="sub-menu-text">详细考勤信息</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub open superunplay" value="02000">
                    <a href="javascript:;">
                        <i class="fa fa-bar-chart-o" aria-hidden="true"></i>
                        <span class="menu-text">个人考勤</span>
                    </a>
                    <ul class="sub" style="display: block;">
                        <li class="superunplay" value="02001">
                            <a id = "brushFace" onclick="toIndex('/toBrushFace')">
                                <span class="sub-menu-text">刷脸上班</span>
                            </a>
                        </li>
                        <li class="superunplay" value="02002">
                            <a id = "attendanceDetails" onclick="toIndex('/toAttendanceDetails')">
                                <span class="sub-menu-text">个人考勤详情</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub superunplay open" value="03000">
                    <a href="javascript:;">
                        <i class="fa fa-bar-chart-o"></i>
                        <span class="menu-text">人员信息</span>
                    </a>
                    <ul class="sub" style="display: block;">
                        <li class="superunplay" value="03001">
                            <a id = "addPersonnel" onclick="toIndex('/toAddPersonnel')">
                                <span class="sub-menu-text">添加人员</span>
                            </a>
                        </li>
                        <li class="superunplay" value="03002">
                            <a id = "informationList" onclick="toIndex('/toInformationList')">
                                <span class="sub-menu-text">信息列表</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub superunplay open" value="04000">
                    <a href="javascript:;">
                        <i class="fa fa-gavel "></i>
                        <span class="menu-text">设置</span>
                    </a>
                    <ul class="sub" style="display: block;">
                        <li class="superunplay" value="04001">
                            <a id = "modifyInformation" onclick="toIndex('/toModifyInformation')">
									<span class="sub-menu-text">修改个人信息
										<span class="nav-counter" id="check-count"></span>
									</span>
                            </a>
                        </li>
                        <li class="superunplay" value="04002">
                            <a id = "changePassword" onclick="toIndex('/toChangePassword')">
									<span class="sub-menu-text">修改密码
										<span class="nav-counter" id="check-increament-count"></span>
									</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>


    <div id="main-content" class="unplay" style="height: auto; min-width:1280px;">
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="iframepage" name="iframepage" class="container">
            <!-- 在此处插入其他网页 -->
        </iframe>
    </div>

    <script src="../jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>
</body>
</html>