<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <!-- Bootstrap core CSS -->
    <link href="../bootstrap-4.1.3-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/login.css" rel="stylesheet">
</head>
<body class="text-center">
    <form class="form-signin">
        <img class="mb-4" src="../images/jiqiren.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">请登录</h1>
        <label for="inputUsername" class="sr-only">账号</label>
        <input type="number" id="inputUsername" class="form-control" placeholder="请输入账号" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="请输入密码" required>
        <div class="checkbox mb-3">
            <label class="savePsw">
                <a href="/user/forgetPsw"> 忘记密码</a>
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="button" id="submit">登陆</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
    <script src="../jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../js/login.js"></script>
</body>
</html>