<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.face.project.faceid.faceid.dao.SystemUserDao">
    <resultMap id="BaseResultMap" type="com.face.project.faceid.faceid.model.SystemUser">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="CHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="role" property="role" jdbcType="CHAR" />
        <result column="state" property="state" jdbcType="CHAR" />
        <result column="depart" property="depart" jdbcType="CHAR" />
        <result column="phone" property="phone" jdbcType="BIGINT" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="checkPic" property="checkPic" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id,name,password,role,state,depart,phone,email,address,checkPic
    </sql>
    <select id="selectUserById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from SystemUser
        where id=#{0}
    </select>
    <select id="selectUserByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from SystemUser
        where name=#{0}
    </select>
    <select id="selectUserByDepart" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        u.id,u.name,u.password,u.role,u.state,u.depart,u.phone,u.email,u.address,u.checkPic
        from SystemUser u,SystemDepart d
        where u.depart=d.department and (d.department=#{0} or d.company=#{0})
    </select>
    <update id="updatePasswordByPhone" parameterType="com.face.project.faceid.faceid.model.SystemUser">
        update SystemUser
        set password=#{password,jdbcType=VARCHAR}
        where phone=#{phone,jdbcType=BIGINT} and id=#{id,jdbcType=BIGINT}
    </update>
    <update id="updateselective" parameterType="com.face.project.faceid.faceid.model.SystemUser">
        update SystemUser
        set
        <if test="name != null" >
            name=#{name,jdbcType=VARCHAR},
        </if>
        <if test="phone != null" >
            phone=#{phone,jdbcType=BIGINT},
        </if>
        <if test="email != null" >
            email=#{email,jdbcType=VARCHAR},
        </if>
        <if test="address != null" >
            address=#{address,jdbcType=BIGINT}
        </if>
        where id=#{id,jdbcType=BIGINT}
    </update>
</mapper>